.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;

}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;

}

.grid-container4 {
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;

}

.grid-container5 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container6 {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container7 {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container8 {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container9 {
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container10 {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.grid-container11 {
    display: grid;
    grid-template-columns: 12fr;
    gap: 0px;
    background-color: rgb(245, 250, 248);
    padding: 15px;
    font: optional;
}

.item {
    background-color: rgb(13, 02, 06);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: aqua;
}

.item-1 {
    grid-column: item 1;
}

.item-2 {
    grid-column: item 2;
}

.item-3 {
    grid-column: item 3;
}

.item-4 {
    grid-column: item 4;
}

.item-5 {
    grid-column: item 5;
}

.item-6 {
    grid-column: item 6;
}

.item-7 {
    grid-column: item 7;
}

.item-8 {
    grid-column: item 8;
}

.item-9 {
    grid-column: item 9;
}

.item-10 {
    grid-column: item 10;
}

.item-11 {
    grid-column: item 11;
}

.item-12 {
    grid-column: item 12;
}